* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 300;
}

a {
  text-decoration: none;
}

.top-container {
  background: url(../img/Pattern_Light.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 1000px;
}

.mid-container {
  background: url(../img/midPattern_Light.png) no-repeat center;
  width: 100%;
  background-size: cover;
  position: relative;
}

/* Nabar  */
.nav__link {
  font-size: 1.6rem;
  font-weight: 500;
  color: #556987;
  padding-left: 2.5rem;
}

.navbar-nav {
  margin-left: 100px;
}

.nav__link:hover {
  color: #333;
}

.btn-grey {
  color: #556987;
}

.btn-blu {
  color: #fff;
  background: #0859c6;
}

.btn-blu:hover {
  background: #5b8ed1;
  color: #fff;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin: auto;
}

.landing-page-btn a {
  font-size: 1.6rem;
  font-weight: 500;
  margin-left: 10px;
}

/* content  */
.content {
  display: flex;
  flex-direction: column;
  padding: 40px 0 0;
}

.content-heading {
  text-align: center;
  width: 900px;
  margin: 0 auto 20px;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.5;
}

.blu-text {
  color: #0859c6;
}

.content-text {
  text-align: center;
  color: #727272;
  width: 1100px;
  font-size: 2.5rem;
  font-weight: 500;
  margin: 0 auto 20px;
  padding: 0 70px;
}

/* button */

.btn-white {
  background-color: #fff;
}

.btn-dark-grey {
  background-color: #1211270a;
  color: #333;
}

.button-align {
  display: block;
}

.btn-arrow {
  padding: 0.4rem 2rem;
  border-radius: 50px;
}

.btn__small {
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 6px;
  border: 1;
  padding: 1rem 2rem;
}

.btn-blu-stretched {
  background-color: #0859c6;
  color: #fff;
  font-weight: 700;
  font-size: 1.6rem;
  border-radius: 15px;
  padding: 1rem 2rem;
}

.btn-blu-stretched:hover,
.btn__small:hover {
  background: #5b8ed1;
  color: #fff;
}

a.btn.btn-blu-stretched.btn-lg.text-align {
  width: 200px;
  text-align: center;
  margin: auto;
}

/* Content image  */
.content-img {
  position: relative;
  width: 100%;
}

.svg-iphone-background {
  width: 80%;
  display: block;
  margin: 10px auto;
}

.iphone-img {
  position: absolute;
  margin-top: 30px;
  width: 35%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.white-spacing {
  height: 100px;
}

/* mid container  */

.content-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  text-align: center;
  margin-top: 50px;
}

.content-center h4 {
  padding-top: 4rem;
  font-size: 1.4rem;
  color: #444bd3;
  font-weight: 600;
}

.content-center h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #2a3342;
  width: 400px;
  margin: auto;
}

.content-center p {
  font-size: 1.5rem;
  font-weight: 400;
  width: 800px;
  margin: auto;
  color: #556987;
  margin-bottom: 50px;
}

.flex-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding-bottom: 3rem;
}

.flex-items .icons {
  padding: 20px 60px;
}

.icons i {
  background-color: #0859c6;
  color: #fff;
  padding: 2rem;
  margin-bottom: 1rem;
}

.icons h3 {
  font-weight: 700;
  font-size: 2.4rem;
}

.icons p {
  font-size: 1.6rem;
  width: 280px;
  color: #556987;
}

.icons-circle i {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 1rem;
  text-align: center;
  display: inline;
}

.icons-circle h3 {
  margin-top: 2rem;
}

.icons-px i {
  background-color: #0859c6;
  color: #fff;
  padding: 1.5rem;
  margin-bottom: 1rem;
}

.icons-px p {
  font-size: 1.6rem;
  color: #556987;
}

.icons-px p {
  font-size: 1.6rem;
  color: #556987;
}

/* callout  */

.third-container {
  position: relative;
  height: 418px;
  width: 100%;
}

.first-half {
  position: relative;
  background: white;
  height: 150px;
}

.callout {
  background: url(../img/callout.png) no-repeat;
  position: absolute;
  height: 250px;
  width: 70%;
  left: 50%;
  right: 50%;
  padding: 2rem 8rem 0;
  transform: translate(-50%, -40%);
}

.callout h2 {
  color: white;
  font-size: 3.4rem;
  font-weight: 700;
  width: 500px;
  margin-bottom: 10px;
}

.callout p {
  width: 400px;
  color: white;
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.callout button {
  font-size: 1.8rem;
  margin-right: 2rem;
  margin-bottom: 20px;
}

.second-half {
  background: rgba(247, 248, 249, 1);
  height: 230px;
}

.floating__img {
  position: absolute;
  height: 500px;
  right: 5%;
  top: -50px;
}

/* card container  */
.card {
  max-width: 358px;
  max-height: 211px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  border-radius: 12px;
  overflow: hidden;
  padding: 5.6rem 2.4rem;
  margin: 3rem;
}

.card__heading {
  font-size: 3rem;
  color: #0859c6;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.card__body {
  font-size: 2rem;
  font-weight: 400;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* review corner  */

.review--title {
  color: #444bd3;
  font-size: 1.4rem;
  font-weight: 600;
}

.review--heading {
  font-weight: 700;
  font-size: 4rem;
}

.review-top {
  display: flex;
  justify-content: space-between;
  max-width: 83%;
  margin: 100px auto 0;
}

.review-btn {
  margin-top: 30px;
}

.review--box {
  width: 420px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  background: #fff;
  padding: 2rem 4rem;
  margin: 15px;
  cursor: pointer;
}

.profile--img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.profile--img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.review--profile {
  display: flex;
  align-items: center;
}

.name-user {
  display: flex;
  flex-direction: column;
}

.name-user strong {
  color: #3d3d3d;
  font-size: 1.4rem;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
}

.name-user span {
  color: #979797;
  font-size: 1.2rem;
}

.review {
  color: #f9d71c;
  margin-left: 25px;
}

.review i {
  margin-left: -5px;
}

.box--bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.client-comment p {
  font-size: 1.6rem;
  font-weight: 400;
  opacity: 56%;
  color: #4b4b4b;
  margin-bottom: 30px;
}

.review--box:hover {
  transform: translateY(-10px);
  transition: all ease 0.3s;
}

.review--flex-items {
  display: flex;
  margin-top: 50px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* contact us  */

.no-social-background i {
  background-color: #fff;
  color: #0859c6;
  padding: 1rem;
}

.flex-items .icons-px {
  padding: 20px 60px;
}

.map-img {
  width: 70%;
  object-fit: cover;
  position: absolute;
  height: 600px;
  top: 100%;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.light-background {
  height: 650px;
}

.background-drop {
  background-color: #0859c6;
  height: 400px;
  margin-bottom: 100px;
}

/* footer  */

footer {
  background-color: #0859c6;
}

.footer-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-details img {
  margin-top: 50px;
}

.footer-details p {
  font-size: 1.8rem;
  color: #fff;
  width: 900px;
  text-align: center;
  margin-top: 30px;
}

.footer-details p {
  font-size: 2rem;
  margin-bottom: 50px;
}

@media screen and (max-width: 500px) {
  .flex-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .navbar-nav {
    justify-content: space-between;
    align-items: center;
    display: flex;
    text-align: center;
    margin-bottom: 20px;
  }

  .landing-page-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .content-heading {
    text-align: center;
    font-size: 2rem;
    width: 100%;
  }

  .content-text {
    text-align: center;
    font-size: 0.8rem;
    width: 100%;
  }

  a.btn.btn-blu-stretched.btn-lg.text-align {
    margin-bottom: 50px;
  }

  .svg-iphone-background {
    width: 100%;
    position: absolute;
    top: 727px;
    right: 0px;
  }

  .iphone-img {
    width: 90%;
    top: 230px;
  }

  .svg-iphone-background {
    width: 100%;
    top: 200px;
  }

  .content-center p {
    width: 100%;
  }

  .flex-items .icons {
    padding: 20px;
  }

  .navbar-nav {
    display: hidden;
  }

  .content-center h2 {
    font-size: 24px;
  }

  .floating__img {
    display: none;
  }

  .callout h2 {
    color: white;
    font-size: 2rem;
    font-weight: 700;
    width: 300px;
    margin-bottom: 10px;
  }

  .callout {
    padding: 0;
  }

  .callout p {
    width: 300px;
    color: white;
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
  }
}
